@{
    ViewBag.Title = "Podpora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 font-weight-bold" style="color: green">Úspěch!</h3>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form">
                    <h5>Zpráva na podporu byla úspěšně odeslána.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
